{% extends "base.html" %}
{% load allauth i18n widget_tweaks %}
{% block content %}
<div class="container mt-2 mb-5 pb-5">
    <div class="row">
        <div class="col-6 text-center mx-auto">
            <h1 class="text-white category-header text-center">CHANGE PASSWORD</h1>
            <div class="text-white">
                <form action="{% url 'account_change_password' %}" method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                    {% if field.errors %}
                    {% for error in field.errors %}
                    <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                    {% endif %}
                    <label for="{{ field.id_for_label }}" class="form-label text-white">{{ field.label }}</label>
                    {{ field|add_class:"form-control w-50 mx-auto" }}
                    {% if field.help_text %}
                    <ul class="list-unstyled small text-center">
                        <li class="text-white">Your password can't be too similar to your other personal information.</li>
                        <li class="text-white">Your password must contain at least 8 characters.</li>
                        <li class="text-white">Your password can't be a commonly used password.</li>
                        <li class="text-white">Your password can't be entirely numeric.</li>
                    </ul>
                    {% endif %}
                    {% endfor %}
                    <button type="submit" class="btn btn-danger mt-2">Change My Password</button>
                </form>
            </div>
        </div>
        </form>
    </div>
</div>
{% endblock content %}