{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}

{% block title %}
<title>Vinyl Online - Password Reset</title>
{% endblock %}

{% block content %}
<!-- Password Changed -->
<section>
    <div class="container mt-2 mb-5 pb-5">
        <div class="row">
            <div class="col-6 text-center mx-auto">
                <h1 class="text-white category-header text-center">CHANGE PASSWORD</h1>
                <div class="text-white">
                    <p>Your password is now changed.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}