{% extends "base.html" %}
{% load i18n %}
{% load allauth %}
{% load widget_tweaks %}

{% block title %}
<title>Vinyl Online - Password Reset</title>
{% endblock %}

{% block content %}
<!-- Reset Password from Key -->
<section>
    <div class="container mt-2 mb-5 pb-5">
        <div class="row">
            <div class="col-6 text-center mx-auto">
                {% if token_fail %}
                <h1 class="text-white category-header text-center">BAD TOKEN</h1>
                {% else %}
                <h1 class="text-white category-header text-center">CHANGE PASSWORD</h1>
                {% endif %}
                {% if token_fail %}
                <p class="text-white"> The password reset link was invalid, possibly because it has already been used. Please request <a class="text-white" href="{% url 'account_reset_password' %}" aria-label="Click this link to request a new password reset.">a new password reset here.</a> </p>
                {% else %}
                <div class="text-white">
                    <p>Forgotten your password? Enter your email address below and we'll send you an email allowing you to reset it.</p>
                    <form action="{{ action_url }}" method="POST">
                        {% csrf_token %}
                        {{ redirect_field }}
                        {% for field in form %}
                        {% if field.errors %}
                        {% for error in field.errors %}
                        <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                        {% endif %}
                        <label for="{{ field.id_for_label }}" class="form-label text-white">{{ field.label }}</label>
                        {{ field|add_class:"form-control w-50 mx-auto" }}
                        {% if field.help_text %}
                        <ul class="list-unstyled small text-center">
                            <li class="text-white">Your password can't be too similar to your other personal information.</li>
                            <li class="text-white">Your password must contain at least 8 characters.</li>
                            <li class="text-white">Your password can't be a commonly used password.</li>
                            <li class="text-white">Your password can't be entirely numeric.</li>
                        </ul>
                        {% endif %}
                        {% endfor %}
                        <button type="submit" name="action" class="btn btn-danger mt-2">Change My Password</button>
                    </form>
                </div>
                {% endif %}
            </div>
            </form>
        </div>
    </div>
</section>
{% endblock content %}