{% extends "base.html" %}
{% load i18n %}
{% load allauth %}
{% load account %}

{% block title %}
<title>Vinyl Online - Password Reset</title>
{% endblock %}

{% block content %}
<!-- Password Email Sent -->
<section>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <div class="container mt-2 mb-5 pb-5">
        <div class="row">
            <div class="col-6 text-center mx-auto">
                <h1 class="text-white category-header text-center">Password Reset</h1>
                <div class="text-white">
                    <p>We have sent you an email. If you have not received it, please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.</p>
                </div>
            </div>
            </form>
        </div>
    </div>
</section>
{% endblock content %}