{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
<div id="create-profile" class="container text-center mt-2 mb-5">
    <div class="row">
        {% if profile and profile.first_name %}
        <h1 class="text-white category-header">EDIT PROFILE</h1>
        {% else %}
        <h1 class="text-white category-header">CREATE PROFILE</h1>
        {% endif %}
        <p class="text-white small">All fields with an asterisk next to the label are required.</p>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 mx-auto">
            <form method="POST" class="text-white">
                {% csrf_token %}
                {% for field in form %}
                <div class="mb-3">
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    {{ field|add_class:"form-control" }}
                    {% if field.help_text %}
                    <small class="form-text text-white">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                    <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-danger">Save Profile Information</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}