{% extends "base.html" %}
{% load static %}
{% block content %}
<div id="checkout" class="container text-center mt-2 mb-5">
    <div class="row">
        <h1 class="text-white category-header">CHECKOUT</h1>
        <p class="text-white small">All fields with an asterisk next to the label are required.</p>
    </div>
    <!-- Order Details -->
    <div class="row">
        <div class="col-12 col-md-6 mx-auto mb-5 pb-5">
            <form id="payment-form" method="POST" class="text-white">
                {% csrf_token %}
                <h3 class="text-white category-header">CONTACT INFORMATION</h3>
                <!-- Full Name -->
                <div class="mb-3">
                    <label for="{{ form.full_name.id_for_label}}" class="form-label">
                        {{ form.full_name.label }}
                    </label>
                    {{ form.full_name }}
                    {% for error in form.full_name.errors %}
                    <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                </div>
                <!-- Phone and Email -->
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="{{ form.phone_number.id_for_label}}" class="form-label">
                            {{ form.phone_number.label }}
                        </label>
                        {{ form.phone_number }}
                        {% for error in form.phone_number.errors %}
                        <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="col-md-6">
                        <label for="{{ form.email.id_for_label}}" class="form-label">
                            {{ form.email.label }}
                        </label>
                        {{ form.email }}
                        {% for error in form.email.errors %}
                        <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                    </div>
                </div>
                <h3 class="category-header text-white">DELIVERY INFORMATION</h3>
                {% if form.saved_address and form.fields.saved_address.queryset.exists %}

                <!-- Saved Address Dropdown -->
                <div class="mb-3" id="saved-addresses">
                    <label for="{{ form.saved_address.id_for_label}}" class="form-label">
                        {{ form.saved_address.label }}
                    </label>
                    <select name="{{ form.saved_address.name }}" id="{{ form.saved_address.id_for_label }}" class="form-select mb-3">
                        <option value="">--- Select a saved address ---</option>
                        {% for addr in form.fields.saved_address.queryset %}
                        <option value="{{ addr.pk }}" data-line1="{{ addr.address_line1 }}" data-line2="{{ addr.address_line2 }}" data-city="{{ addr.city }}" data-postcode="{{ addr.postcode }}">
                            {{ addr.label }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                {% endif %}
                <!-- Button to show new address fields -->
                <div class="mb-3 text-center">
                    <button type="button" id="show-new-address-btn" class="btn btn-outline-light btn-sm">
                        Add New Address
                    </button>
                </div>
                <!-- New Address Fields (hidden by default) -->
                <div id="new-address-fields" style="display: none;">
                    <!-- Address Lines -->
                    <div class="mb-3">
                        <label for="{{ form.address_line1.id_for_label }}" class="form-label">{{ form.address_line1.label }}</label>
                        {{ form.address_line1 }}
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.address_line2.id_for_label }}" class="form-label">{{ form.address_line2.label }}</label>
                        {{ form.address_line2 }}
                    </div>

                    <!-- City and Postcode -->
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="{{ form.city.id_for_label }}" class="form-label">{{ form.city.label }}</label>
                            {{ form.city }}
                        </div>
                        <div class="col-md-6">
                            <label for="{{ form.postcode.id_for_label }}" class="form-label">{{ form.postcode.label }}</label>
                            {{ form.postcode }}
                        </div>
                    </div>
                    <!-- Save New Address -->
                    <div class="d-flex justify-content-center gap-2 mb-3" id="save-address">
                        {{ form.save_new_address }}
                        <label for="{{ form.save_new_address.id_for_label }}" class="form-check-label">
                            {{ form.save_new_address.label }}
                        </label>
                        {% for error in form.save_new_address.errors %}
                        <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                    </div>
                </div>
                {% if not request.user.is_authenticated %}
                <!-- Guest Address Fields -->
                <!-- Address Line 1 -->
                <div class="mb-3">
                    <label for="{{ form.address_line1.id_for_label}}" class="form-label">
                        {{ form.address_line1.label }}
                    </label>
                    {{ form.address_line1 }}
                    {% for error in form.address_line1.errors %}
                    <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                </div>
                <!-- Address Line 1 -->
                <div class="mb-3">
                    <label for="{{ form.address_line2.id_for_label}}" class="form-label">
                        {{ form.address_line2.label }}
                    </label>
                    {{ form.address_line2 }}
                    {% for error in form.address_line2.errors %}
                    <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                </div>
                <!-- City and Postcode -->
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="{{ form.city.id_for_label}}" class="form-label">
                            {{ form.city.label }}
                        </label>
                        {{ form.city }}
                        {% for error in form.city.errors %}
                        <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="col-md-6">
                        <label for="{{ form.postcode.id_for_label}}" class="form-label">
                            {{ form.postcode.label }}
                        </label>
                        {{ form.postcode }}
                        {% for error in form.postcode.errors %}
                        <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
                <h3 class="category-header text-white">PAYMENT</h3>
                <div id="card-element"></div>
                <div id="card-errors"></div>
                <button type="submit" class="btn btn-danger mt-3">Pay £{{ grand_total }}</button>
            </form>
        </div>
        <!-- Basket Summary -->
        <div class="col-12 col-md-6 mx-auto mb-5 pb-5">
            <div class="table-responsive">
                <table class="table table-bordered align-middle text-center table-dark table-striped">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Record</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in basket_items %}
                        <tr class="basket-row" data-record-id="{{ item.record.id }}">
                            <td>
                                <a href="{% url 'record_detail' item.record.slug %}" class="text-white">{{ item.record.title }}</a>
                            </td>
                            <td>£{{ item.record.price }}</td>
                            <td>
                                {{ item.quantity }}
                            </td>
                            <td class="item-total">£{{ item.total_price }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-end mb-3">
                <div class="me-3 text-white text-end border border-danger border-2 p-2 rounded">
                    <strong>Subtotal:</strong> £{{ subtotal_cost }}<br>
                    <strong>Delivery:</strong> {% if delivery_cost == 0 %} Free! {% else %}£{{ delivery_cost }} {% endif %}<br>
                    <strong>Grand Total:</strong> £{{ grand_total }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block custom-scripts %}
<!-- Stripe -->
<script src="https://js.stripe.com/v3/"></script>
<script>
    const stripe = Stripe('{{ stripe_public_key }}');
    const elements = stripe.elements();

    // Style configuration for dark theme
    const style = {
        base: {
            color: '#ffffff',
            fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
            fontSmoothing: 'antialiased',
            fontSize: '16px',
            '::placeholder': {
                color: '#cccccc'
            },
            padding: '12px 14px',
            backgroundColor: '#1a1a1a',
        },
        invalid: {
            color: '#ff3860',
            iconColor: '#ff3860'
        }
    };

    const cardElement = elements.create("card", { style: style });
    cardElement.mount("#card-element");

    // Handle form submission
    const form = document.getElementById("payment-form");
    form.addEventListener("submit", async (event) => {
        event.preventDefault();

        const { error, paymentIntent } = await stripe.confirmCardPayment(
            "{{ client_secret }}",
            {
                payment_method: {
                    card: cardElement,
                    billing_details: {
                        name: document.getElementById("id_full_name").value,
                        email: document.getElementById("id_email").value
                    }
                }
            }
        );

        if (error) {
            document.getElementById("card-errors").textContent = error.message;
        } else if (paymentIntent.status === "succeeded") {
            const formData = {
                stripe_pid: paymentIntent.id,
                full_name: document.getElementById("id_full_name").value,
                email: document.getElementById("id_email").value,
                phone_number: document.getElementById("id_phone_number").value,
                address_line1: document.getElementById("id_address_line1").value,
                address_line2: document.getElementById("id_address_line2").value,
                city: document.getElementById("id_city").value,
                postcode: document.getElementById("id_postcode").value,
                save_new_address: document.getElementById("id_save_new_address")?.checked || false
            };

            fetch("{% url 'checkout' %}", {
                method: "POST",
                body: JSON.stringify(formData),
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        window.location.href = `/checkout/order/${data.order_uuid}/?from_checkout=True`
                    } else {
                        document.getElementById("card-errors").textContent = JSON.stringify(data.errors)
                    }
                })
        }
    });
</script>
<!-- Form JS -->
<script src="{% static 'js/checkout.js' %}"></script>
{% endblock %}