<p>Hello from Vinyl Online!</p>
<p>Thank you for getting in contact with our support team. Here are the details of your support ticket:</p>

<p>Ticket Reference: {{ ticket.pk }}</p>
<p>Name: {{ ticket.name }}</p>
<p>Contact Email: {{ ticket.email }}</p>
<p>Category: {{ ticket.category }}</p>
<p>Issue Description: {{ ticket.description }}</p>

<p>You can also view the details of your support ticket here: <a href="{{ ticket_url }}">{{ ticket_url}}</a></p>

<p>We will be in contact with you by email to resolve your issue as soon as possible.</p>
<p>Kind regards,</p>
<p>Vinyl Online</p>