{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta tags for Search Engines, Author, Keywords, etc. -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Unlock a world of music. Vinyl Online is the definitive record-purchasing website, where we put you first.">
    <meta name="keywords" content="Vinyl Online, vinyl records, buy records online, classic records, buy records UK">
    <meta name="apple-mobile-web-app-title" content="Vinyl Online">
    <!-- Title - Defined on each page -->
    {% block title %}
    {% endblock %}
    <!-- Site Manifest -->
    <link rel="manifest" href="{% static 'manifest/site.webmanifest' %}">
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{% static 'favicon/favicon-96x96.png' %}" sizes="96x96">
    <link rel="icon" type="image/svg+xml" href="{% static 'favicon/favicon.svg' %}">
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <!-- Stylesheets and Imported Frameworks -->
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <!-- Header Content -->
    <header id="navigation-header" class="container-fluid sticky-top bg-light border-bottom border-3 border-danger">
        <div class="row py-2">
            <!-- Navigation Hamburger -->
            <div class="col-auto">
                <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <i class="fa-solid fa-bars fa-xl d-lg-none"></i>
                </button>
            </div>
            <!-- Logo -->
            <div class="col text-center">
                <a href="{% url 'index' %}" aria-label="Click to go to the Vinyl Online homepage">
                    <img id="brand-logo" class="img-fluid d-none d-md-inline" src="https://res.cloudinary.com/dum08a287/image/upload/v1755118167/vinyl-online-logo_fboyeg.png" alt="Vinyl Online Logo">
                    <img id="mobile-logo" class="img-fluid d-inline d-md-none" src="https://res.cloudinary.com/dum08a287/image/upload/v1756738428/vinyl-online-logo-small_opdr1r.png" alt="Vinyl Online Logo">
                </a>
            </div>
            <!-- Shopping Basket -->
            <div class="col-auto text-center me-md-3">
                <a href="{% url 'view_basket' %}" aria-label="Click here to view your current shopping basket." class="text-black text-decoration-none">
                    <div class="position-relative d-inline-block">
                        <i class="fa-solid fa-basket-shopping fa-xl"></i>
                        <span id="basket-count" class="position-absolute badge rounded-pill bg-danger" style="{% if record_count|default:0 == 0 %}display:none;{% endif %}">{{ record_count|default:0 }}</span>
                        <span class="visually-hidden">items in basket</span>
                    </div>
                </a>
            </div>
        </div>
        <!-- Search Bar -->
        <div class="row">
            <div class="col-10 col-lg-8 col-xl-4 mx-auto">
                <div class="position-relative">
                    <form action="{% url 'search' %}" class="d-flex justify-content-center">
                        <input type="search" autocomplete="off" class="form-control" name="q" id="search-input" placeholder="Enter Artist / Record Name">
                        <button class="btn btn-danger ms-2" type="submit">Search</button>
                    </form>
                    <div id="search-results" class="list-group position-absolute"></div>
                </div>
            </div>
        </div>
        <!-- Navigation Bar -->
        <div class="row">
            <nav class="navbar navbar-expand-lg">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar nav mx-auto flex-column flex-lg-row">
                        <li class="nav-item"><a class="nav-link text-black" href="{% url 'index' %}">HOME</a></li>
                        {% if not user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link text-black" href="{% url 'account_signup' %}">SIGN UP</a></li>
                        <li class="nav-item"><a class="nav-link text-black" href="{% url 'account_login' %}">LOG IN</a></li>
                        {% else %}
                        <li class="nav-item"><a class="nav-link text-black" href="{% url 'profile' %}">YOUR PROFILE</a></li>
                        <li class="nav-item"><a class="nav-link text-black" href="{% url 'account_logout' %}">SIGN OUT</a></li>
                        {% endif %}
                        <li class="nav-item"><a class="nav-link text-black" href="{% url 'all_records' %}" aria-label="Click here to browse all Records">ALL RECORDS</a></li>
                        <li class="nav-item"><a class="nav-link text-black" href="{% url 'latest_releases' %}" aria-label="Click here to browse the latest releases">LATEST RELEASES</a></li>
                        <li class="nav-item dropdown">
                            <button class="nav-link text-black dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">BROWSE BY GENRE</button>
                            <ul class="dropdown-menu dropdown-genre dropdown-menu-center p-3">
                                <div class="row d-flex flex-column flex-lg-row align-items-center align-items-lg-stretch justify-content-lg-center">
                                    <!-- Column 1 -->
                                    <div class="col-4">
                                        <a href="{% url 'browse_by_genre' 'rock' %}" class="dropdown-item btn btn-light w-100 text-center" aria-label="Click here to browse Rock Records">Rock</a>
                                        <a href="{% url 'browse_by_genre' 'pop' %}" class="dropdown-item btn btn-light w-100 text-center" aria-label="Click here to browse Pop Records">Pop</a>
                                        <a href="{% url 'browse_by_genre' 'hip-hop' %}" class="dropdown-item btn btn-light w-100 text-center" aria-label="Click here to browse Hip Hop Records">Hip Hop</a>
                                        <a href="{% url 'browse_by_genre' 'jazz' %}" class="dropdown-item btn btn-light w-100 text-center" aria-label="Click here to browse Jazz Records">Jazz</a>
                                        <a href="{% url 'browse_by_genre' 'blues' %}" class="dropdown-item btn btn-light w-100 text-center" aria-label="Click here to browse Blues Records">Blues</a>
                                    </div>
                                    <!-- Column 2 -->
                                    <div class="col-4">
                                        <a href="{% url 'browse_by_genre' 'folk-world-country' %}" class="dropdown-item btn btn-light text-center" aria-label="Click here to browse Folk, World & Country Records">Country</a>
                                        <a href="{% url 'browse_by_genre' 'electronic' %}" class="dropdown-item btn btn-light w-100 text-center" aria-label="Click here to browse Electronic Records">Electronic</a>
                                        <a href="{% url 'browse_by_genre' 'reggae' %}" class="dropdown-item btn btn-light w-100 text-center" aria-label="Click here to browse Reggae Records">Reggae</a>
                                        <a href="{% url 'browse_by_genre' 'classical' %}" class="dropdown-item btn btn-light w-100 text-center" aria-label="Click here to browse Classical Records">Classical</a>
                                        <a href="{% url 'browse_by_genre' 'funk-soul' %}" class="dropdown-item btn btn-light w-100 text-center" aria-label="Click here to browse Funk & Soul Records">Funk / Soul</a>
                                    </div>
                                    <!-- Column 3 -->
                                    <div class="col-4">
                                        <a href="{% url 'browse_by_genre' 'metal' %}" class="dropdown-item btn btn-light w-100 text-center" aria-label="Click here to browse Metal Records">Metal</a>
                                        <a href="{% url 'browse_by_genre' 'punk' %}" class="dropdown-item btn btn-light w-100 text-center" aria-label="Click here to browse Punk Records">Punk</a>
                                        <a href="{% url 'browse_by_genre' 'rb' %}" class="dropdown-item btn btn-light w-100 text-center" aria-label="Click here to browse R&B Records">R&B</a>
                                    </div>
                                </div>
                            </ul>
                        </li>
                        {% if user.is_authenticated and user.is_staff %}
                        <li class="nav-item dropdown">
                            <button class="nav-link text-black dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">RECORD MANAGEMENT</button>
                            <ul class="dropdown-menu">
                                <div class="row d-flex flex-lg-row align-items-center align-items-lg-stretch justify-content-center">
                                    <!-- Add Functions -->
                                    <li>
                                        <a href="{% url 'add_record' %}" class="dropdown-item btn btn-light text-center" aria-label="Click here to add a new record">Add Record</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'add_artist' %}" class="dropdown-item btn btn-light text-center" aria-label="Click here to add a new artist">Add Artist</a>
                                    </li>
                                    <!-- Record Analytics -->
                                    <li>
                                        <a href="{% url 'analytics' %}" class="dropdown-item btn btn-light text-center" aria-label="Click here to view sales analytics">Record Sales Analytics</a>
                                    </li>
                                </div>
                            </ul>
                        </li>
                        {% endif %}
                </div>
            </nav>
        </div>
        <!-- Messages -->
        {% if messages %}
        <aside id="messages">
            <div class="container mt-2 position-fixed top-0 start-50 translate-middle-x text-center">
                {% for message in messages %}
                {% if "success" in message.tags %}
                <div class="alert alert-success alert-dismissible fade show z-3">
                    {{ message }}
                    <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="alert"></button>
                </div>
                {% elif "error" in message.tags %}
                <div class="alert alert-danger alert-dismissible fade show z-3">
                    {{ message }}
                    <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="alert"></button>
                </div>
                {% else %}
                <div class="alert alert-info alert-dismissible fade show z-3">
                    {{ message }}
                    <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="alert"></button>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </aside>
        {% endif %}
    </header>
    <!-- Header Content Ends -->

    <!-- Main Content -->
    <main class="container-fluid border-top border-bottom border-3 border-danger bg-black pt-2">
        {% block content %}
        {% endblock %}
    </main>
    <!-- Main Content Ends -->
    <!-- Toasts -->
    <div class="position-fixed bottom-0 end-0 p-3">
        <div id="basket-toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header bg-danger">
                <strong class="me-auto text-white" id="toast-header-text">
                </strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body bg-dark text-white" id="basket-toast-body"></div>
        </div>
    </div>
    <!-- Footer Content -->
    <footer class="container-fluid bg-light border-top border-3 border-danger text-black">
        <div class="row mt-1">
            <div class="col text-center">
                <h3>FREE DELIVERY ON ALL ORDERS OVER £{{ free_delivery_threshold }}</h3>
            </div>
        </div>
        <hr class="mx-5">
        <div class="row d-flex justify-content-between text-center">
            <div class="col-xs-12 col-md-4">
                <nav>
                    <h3>SUPPORT</h3>
                    <ul class="list-unstyled">
                        <li><a aria-label="Click here to go to the page for creating a support ticket." href="{% url 'create_support_ticket' %}" class="nav-link" target="_blank">CONTACT US</a></li>
                        <li><a href="{% url 'terms_of_service' %}" class="nav-link" aria-label="Click here to view Vinyl Online's terms of service" target="_blank">TERMS AND CONDITIONS</a></li>
                        <li><a href="{% url 'return_policy' %}" class="nav-link" aria-label="Click here to view Vinyl Online's Returns Policy" target="_blank">RETURN POLICY</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-xs-12 col-md-4">
                <nav>
                    <h3>COMMUNITY</h3>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'about' %}" aria-label="Click here to learn more about Vinyl Online." class="nav-link">WHO WE ARE</a></li>
                        <li><a href="{% url 'newsletter' %}" aria-label="Click here to go to the newsletter subscription page" class="nav-link">JOIN OUR NEWSLETTER</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-xs-12 col-md-4">
                <h3>CONTACT</h3>
                <ul class="list-unstyled">
                    <li><i class="fa-solid fa-phone"></i> 0123 456 7890</li>
                    <li><i class="fa-solid fa-envelope"></i> <a class="text-black text-decoration-underline" href="mailto:help.vinylonline@gmail.com">help.vinylonline@gmail.com</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <p class="small text-muted">©2025 Morgana Stone | <a class="small" href="https://github.com/Morgana-S/vinyl-online" aria-label="Click here to go to this site's GitHub page" target="_blank"><i class="fa-brands fa-github"></i></a> <a class="nav-link" href="{% url 'privacy_policy' %}" aria-label="Click here to view the site's privacy policy." target="_blank">Privacy Policy</a>
            </div>
        </div>
    </footer>
    <!-- Footer Content Ends -->
    <!-- Scripts -->
    {% block scripts %}
    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/dedbf6d909.js" crossorigin="anonymous"></script>
    <!-- Base scripts (for tooltips, etc.) -->
    <script src="{% static 'js/base.js' %}"></script>
    <!-- Custom Scripts -->
    {% block custom-scripts %}
    {% endblock %}
    {% endblock %}
</body>

</html>